@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
}
html {
        height: 100%;
}
body {
        min-height: 100%;
        font-size: 100%;
        position: relative;
        background: #2D2D2D;
}
.titulo-principal {
        font-family: 'Oxygen', sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: #D3D3D3;
        padding: 18px;
        text-align: center;
}
.texto-cabecalho {
        font-family: 'Oxygen', sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #D3D3D3;
        padding: 12px;
        text-align: center;
}
.div-botao {
        display: flex;
        flex-direction: column;
        column-gap: 8px;
        align-items: center;
        justify-content: space-around;
}
.botao {
        width: 128px;
        height: 36px;
        font-size: 16px;
        background-color: #606060;
        border-radius: 6px;
        border: none;
        box-shadow: 2px 3px 2px #7C7C7C;
        margin-top: 8px;

}       
.botao:hover {
        background-color: #7C7C7C;
}
