<!DOCTYPE html>
<html lang="pt-BR">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
        <title>Gestão RH</title>
        <link rel="stylesheet" type="text/css" href="./static/updated.css">
</head>
<body>
        <header>
                <h1 class="titulo-principal">Sistema de gestão de pessoas</h1>
                <h3 class="texto-cabecalho">Os dados do usuário foram alterados</h3>
        </header>

        <div class="div-botao">
                <button class="botao" onclick="window.location.href='{{url_for('main.profile')}}'">Menu Principal</button>
        </div>
</body>
</html>
